/* Estilos generales */
.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.App-content {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Ajustes para Desktop */
@media (min-width: 1024px) {
  .App-header {
    font-size: calc(10px + 2vmin);
  }
}

/* Ajustes para Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
}

/* Ajustes para Móviles */
@media (max-width: 767px) {
  .App-header {
    font-size: calc(6px + 2vmin);
  }
}

/* Ajustes para Pantallas muy pequeñas */
@media (max-width: 480px) {
  .App-header {
    font-size: calc(4px + 2vmin);
  }
}
